---
<%
@fields=fields
# safely get a value from fields array and escape quotes for front matter
def sanitize(itemname, subitemname = nil)
  result = ''
  if @fields[itemname]
    result = subitemname ? @fields[itemname][subitemname] : @fields[itemname]
    if result and result.is_a? String
      result = result.gsub('"', '\"') # escape quotes
    end
  end
  result
end
%>
title: "<%=sanitize('summary') %>"
layout: issue
tags: "<%=sanitize('labels').join(',')%>"
permalink: /browse/<%= key %>

issuetype: "<%=sanitize('issuetype', 'name') %>"
project: "<%=sanitize('project', 'name') %>"
project_key: "<%=sanitize('project', 'key') %>"
status: "<%=sanitize('status', 'name') %>"
resolution: "<%=sanitize('resolution', 'name') %>"
priority: "<%=sanitize('priority', 'name') %>"
components: "<%=fields['components'] ? fields['components'].collect{|c| c ? c['name'] : ''}.join(',') : ''%>"
labels: "<%=sanitize('labels').join(',')%>"
assignee: "<%=sanitize('assignee', 'name') %>"
reporter: "<%=sanitize('reporter', 'name') %>"
votes:  "<%=sanitize('votes', 'votes') %>"
watchers: "<%=sanitize('watches', 'watchCount') %>"

created: "<%=sanitize('created') %>"
updated: "<%=sanitize('updated') %>"
resolved: "<%=sanitize('resolutiondate') %>"

---

<%
  def number_format(d)
    if d
      d = d.to_i
      e = Math.log10(d).to_i / 3
      return '%.3f' % (d / 1000 ** e) + ['', ' k', ' M', ' G'][e]
    end
    return ''
  end
%>

<% if sanitize('attachment') && sanitize('attachment').length > 0 %>
## Attachments
  <% sanitize('attachment').each do |attachment| %>
* <em><%=attachment['author'] ? attachment['author']['name'] : '' %></em> (<%=number_format(attachment['size']) %>, <%=attachment['mimeType'] %>) [<%=attachment['filename'] %>](/attachments/<%=sanitize('project','key')%>/<%=key%>)
  <% end %>

<% end %>

## Description

<%=sanitize('description') %>

## Comments

<% sanitize('comment', 'comments').each do |comment| %>
### **<%=comment['author'] ? comment['author']['displayName'] : '?' %>** <span class="date"><%=comment['created'] %></span>
<%=comment['body'] %>

<% end %>